/*********** Import ************/
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&family=Shrikhand&display=swap');
/*********** Common Style ************/
*{
    font-family:"Roboto", Arial, Helvetica, sans-serif;
    text-decoration: none;
    margin:0;
    padding: 0;
}

li{
    list-style-type: none;
}



